@page "/employee"
@using StaticServerRendering.Models

<h3>Employee</h3>

Employee Details are:

<!-- Using Control Structures - Looping -->
<ul>

@foreach (var emp in employees)
{
                    <li>@emp.Id - @emp.Name - @emp.Position</li>
}
</ul>
@code {

    // Accessing the data inside the loop through variable 'emp' and displaying the details of each employee in the list.
    private List<Models.Employee> employees = EmployeeRepository.GetEmployees();
}