@page "/routable-component"
@using StaticServerRendering.Components.SubComponents;

<h3>Routable Component</h3>

<br/>
<NonRoutableComponent />

<NonRoutableComponent />

<!-- Last option is to use \'_Imports.razor\' file to add the namespace and then we can directly use the component without any namespace. -->

@code {

}
